<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>class 2</title>
    <script src="angular.min.js"> </script>
    <script src="2.js"></script>
    <style>
       .prod
       {
           float: left;
           margin: 10px;
           border:solid black;
           padding: 5px;
       }
        .crt
        {
            margin-top: 500px;
            width: 100px;
            margin: 10px;
            border:solid black;
            padding: 5px;
        }

    </style>
</head>
<body>
<div ng-app="myyApp" ng-controller="appCtrl"   >
    <h3>PRODUCTS</h3>
    <div class="prod">
    <div ng-repeat="item in products"  >
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
        <input type="button" value="Add to Cart" ng-click="addToCart(item)">
    </div>
    </div>
    <br> <br> <br> <br><br> <br> <br> <br> <br> <br><br> <br> <br><br> <br>
    <h3>CART</h3>
    <div class="crt">
        <div ng-repeat="product in cart" >
            <p>{{product.name}}</p>
        </div>
    </div>
    <div class="crt">
        <p>Your Total: {{totalPrice}}</p>
    </div>
</div>
</body>
</html>