<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-app=""  >
    <label>number of units</label>
    <input type="number" ng-model="units">
    <label>unit price</label>
    <input type="number" ng-model="price">


<p> The total cost is {{units * price}} </p>
</div>
</body>
</html>