<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
    <script src="task.js"></script>//JS file//
    <style>
        .abc
        {
            border: 1px solid black;
            float: left;
            margin: 30px;
        }
    </style>
</head>
<body>
<div ng-app="myyApp" ng-controller="appCtrl" >
    <div>
        <fieldset>
            <legend>Add new product</legend>
            <form>
                <label>Cake NAME</label>
                <input type="text" ng-model="new.name"> <br> <br>
                <label>Weight</label>
                <input type="text" ng-model="new.weight"> <br> <br>
                <label>Quantity</label>
                <input type="text" ng-model="new.quan">
                <br> <br>
               <input type="button" value="Add Product" ng-click="addProduct()">


            </form>
        </fieldset>

    </div>
    <div ng-repeat="item in products" class="abc">
        <img src="{{item.imagepath}}">
        <p style="margin: 20px">{{item.name}}</p>
        <p style="margin: 20px">{{item.weight}}</p>
        <p style="margin: 20px">{{item.quan}}</p>
        <button >Add to Cart</button>
    </div>
</div>
</body>
</html>