<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
    <script src="external.js"></script>
</head>
<body>
<div ng-app="myyApp" ng-controller="appCtrl" >
    <label>Name</label>
    <input type="text" ng-model="product.name">
    {{product.name}}
    <label>price</label>
    <input type="number" ng-model="product.price">
    {{product.price}}
    <ul>
        <li ng-repeat="Items in fruit">{{Items}}</li>
    </ul>
</div>
</body>
</html>